</body>
</html>
<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container justify-content-center mt-3">
        <div class="jumbotron index-jumbo d-flex justify-content-center bg-blur">
            <div class="container">
                <div class="col-md-12 d-flex border-left border-bottom w-50 ">
                    <h1 class="myBackgroundColor ">Car Repair Service</h1>
                </div>
                <div class="col-md-12 d-flex mt-3">
                    <h4>
                        &nbsp;&nbsp;&nbsp;Car Repair Service offers a seamless car
                        service experience at the convenience of a tap. With our highly skilled technicians,
                        manufacturer recommended procedures and the promise of genuine spare parts we are your best bet.
                        To tasks a better experience to its customers, a mechanic will look at your car's condition
                        and check parts for wear and tear, like brakes, oil, filters and engine belt.
                        <br/>
                        &nbsp;&nbsp;&nbsp;The Car Repair Service owner has turned to SoftUni for help. Now a small team led by you
                        must take on this task.
                        <br/>
                    </h4>
                </div>
                <div class="col-md-12 text-center">
                    <th:block th:if="${areImported == true}">
                        <p><a class="btn btn-warning export-button text-white" th:href="@{/export/coupe-tasks}">Get
                            all coupe cars with most expensive repair costs</a></p>
                    </th:block>
                    <div class="col-md-12 d-flex justify-content-center">
                        <th:block th:if="${areImported == false}">
                            <p class="myBackgroundColor rounded p-2">Тo see the next task, first import all JSON and XML
                                files.</p>
                        </th:block>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>