body {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

.container {
  display: flex;
  gap: 10px;

}

img {
  object-fit: cover;
  width: 100px;
  height: 320px;
  border-radius: 8px;
  box-shadow: 0 0 15px 6px grey;
}

.image:hover {
transition: r 300ms linear;
  width: 400px;
  border-left: 8px solid black;
  border-right: 8px solid black;
  /* flex: 0 1 auto; */
}