body {
  background-color: rgb(238, 238, 238);
 margin: 0 auto;
}



img {
  width: 100%;
  object-fit: cover;
}

.card footer {

  border-top: 1px solid grey;
}

.card p {
  padding: 0 15px;
  padding-bottom: 15px;
}

.card h3 {
  padding-left: 15px;
}

h2 {
  margin: 20px 80px;
}


.cards-layout.masonry {
  width: 800px;
  column-count: 3;
  margin: 0 auto;
}

.card {
  display: inline-block;
  width: 250px;
  height: max-content;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  

}

.cards-layout.flex {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
  margin: 0 auto;

}

.flex .card {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  height: 700px;
  
}
.flex section{
  flex-grow: 1;
}