article header h1 {
    font-size: 28px;
}

article header p {
    font-style: italic;
}

article p {
    font-size: 24px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;

}
section{
    margin-left: 20px;
}