body {
  background-image: url("./images/background.jpg");
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  color: #25b7c4;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 2px 2px rgba(19, 35, 47, 0.3);
}

section {
  float: left;
  display: inline-table;
  width: 45%;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 20px;
  max-width: 400px;
  margin-left: 150px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

h2 {
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  margin: 0 0 20px;
  font-size: 30px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}

input,
textarea {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.product,
.count,
.price {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.button {
  border-radius: 10px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button-block {
  display: block;
  width: 100%;
}

table {
  width: 100%;
}

.tbl-header {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tbl-content {
  height: auto;
  overflow-x: auto;
  margin-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

th {
  padding: 20px;
  text-align: center;
  font-weight: 1000;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 20px;
  padding-left: 90px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
table {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

button {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 10px;
}

button:hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}
