@import url(https://fonts.googleapis.com/css?family=Open+Sans);
      body {
        font-family: "Open Sans", serif;
      }
      button {
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      button:hover {
        background-color: #45a049;
      }
