@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans", serif;
}
input[type=text] {
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}