@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&display=swap');

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body h1 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
}

body h2 {
    font-weight: bold;

}