html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 30px 30px;
}

.card {
  width: 400px;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px lightgray;
  height: fit-content;
}

.content {
  padding: 0 20px 20px 20px;
  position: relative;
  height: 50%;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 40px;
}

.img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card button {
  background-color: rgb(0, 153, 0);
  color: white;
  border-radius: 4px;
  padding: 5px 15px 5px 15px;
  position: absolute;
  right: 15px;
  bottom: 10px;


}

h1,
h2 {
  font-family: Georgia, serif;
  font-size: 1.2em;
  margin-bottom: 15px;
}