</body>
</html>
<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container justify-content-center mt-3">
        <div class="jumbotron index-jumbo d-flex justify-content-center">
            <div class="container">
                <div class="col-md-12 d-flex border-left border-bottom w-50 ">
                    <h1 class="myBackgroundColor ">Real Estate Agency</h1>
                </div>
                <div class="col-md-12 d-flex mt-3">
                    <h4>
                        &nbsp;&nbsp;&nbsp;Find the best home, investment or commercial property or speak to our estate
                        agents today. Here you will find a large selection of the best apartments, houses or garages
                        and of course, they will all be at best prices.
                        <br/>
                        &nbsp;&nbsp;&nbsp;To offer a better experience to its customers, the agency urgently needs a good
                        enough application that collects all the information about all available estates and can, with
                        one click, dig through the sorted best offers.
                        <br/>
                        &nbsp;&nbsp;&nbsp;The real estate agency owner has turned to SoftUni for help. Now a small team led by you
                        must take on this task.
                        <br/>
                    </h4>
                </div>
                <div class="col-md-12 text-center">
                    <th:block th:if="${areImported == true}">
                        <p><a class="btn btn-warning export-button text-white" th:href="@{/export/best-offers}">Get
                            the best offers</a></p>
                    </th:block>
                    <div class="col-md-12 d-flex justify-content-center">
                        <th:block th:if="${areImported == false}">
                            <p class="bg-dark rounded p-2">Тo see the next task, first import all JSON and XML
                                files.</p>
                        </th:block>
                    </div>
                </div>
            </div>

        </div>
    </div>
</th:block>