<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Battleships Application</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="body-main">
<header th:include="~{fragments/navigation}"></header>
<main role="main">
    <div class="jumbotron">
        <div class="container text-light ">
            <h1 class="display-3">
                <strong class="pl-3 font-weight-bold">Login</strong></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container bg-blur rounded p-5 mt-5 w-75 ">

                    <form  th:action="@{/login}"
                           th:method="post"
                           th:object="${loginDTO}"
                          class="text-center text-light">
                        <h3 class="mt-5 text-center">
                            <strong th:if="${badCredentials}" class="rounded  pl-3 text-danger">
                                Enter valid
                                username and
                                password</strong>
                        </h3>
                        <div class="form-group row">
                            <label for="username" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       th:field="*{username}"
                                       th:errorclass="is-invalid"
                                       id="username"
                                       aria-describedby="usernameHelpInline" placeholder="Username">
                                <small
                                       id="usernameHelpInline"
                                       class="bg-danger text-light rounded invalid-feedback">
                                    Username length must be between 3 and 10 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password"
                                       th:field="*{password}"
                                       th:errorclass="is-invalid"
                                       class="form-control"
                                       id="password"
                                       aria-describedby="passwordHelpInline" placeholder="Password">
                                <small
                                       id="passwordHelpInline"
                                       class="bg-danger text-light rounded invalid-feedback">
                                    Password length must be more than 3 characters.
                                </small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger w-50">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img class="rounded" width="100%" src="/images/login.jpg" alt="Battle ship image">
            </div>
        </div>
    </div>
</main>
<footer class="container text-white">
    <p>&copy;SoftUni Spring Team 2021. All rights reserved.</p>
</footer>
</body>
</html>