.Comments {
    padding: 5px;
    font-style: italic;
    color: #5c6e91
}

article {
    padding: 15px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    width: 700px;
}

body {
    background-color: #e4e978;
   
}










/*

• padding: 5px 15px;
• font-style: italic • color: #5c6e91 • background colors: #f2f4c0,
#e4e978,
#4c7658;
• width: 700px • border: 1px solid #b2ad7d;
• margin: 15px 10px;*/