html {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
}

div {
    display: flex;
    max-width: 65vw;
    margin: auto;
    margin-top: 20px;
}

section {
    display: flex;

}

.week {
    flex-wrap: wrap;
}

.tittle {
    width: 100%;
}

.notes {
    flex-direction: column;

}

span {
    border: 1px solid black;
    text-align: center;
    padding: 2rem 2rem 4rem 2rem;
}

.notes span {
    height: 50%;
}

.week span:nth-child(2),
.week span:nth-child(3),
.week span:nth-child(4),
.week span:nth-child(5),
.week span:nth-child(6) {
    flex: 20;
}

.week span:nth-child(8),
.week span:nth-child(9) {
    flex: 50;
}