<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

Current language is <span th:text="${lang}"/>.

<br/>

<form th:action="@{/session}" th:method="post">
    Choose language:
    <select
            id="language"
            name="language">
        <option value="en" th:selected="${lang} == 'en'">English</option>
        <option value="de" th:selected="${lang} == 'de'">Deutsch</option>
        <option value="bg" th:selected="${lang} == 'bg'">Български</option>
    </select>
    <input type="submit" value="Submit">
</form>

</body>
</html>