<th:block th:fragment>
    <div class="container justify-content-center mt-3">
        <div class="jumbotron jumbotron-background d-flex justify-content-center">
            <div class="container">
                <div class="col-md-12 d-flex justify-content-center">
                    <h1 class="myBackgroundColor">Import Astronomers</h1>
                </div>
                 <hr class="hr-background my-hr"/>
                <form th:action="@{/import/astronomers}" method="post">
                    <div class="col-md-12 d-flex justify-content-center">
                        <label for="astronomers-textarea">Astronomers:</label>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="col-md-8 d-flex justify-content-center">
                            <textarea class="form-control" id="astronomers-textarea" rows="10" th:text="${astronomers}" name="astronomers" readonly></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <button class="btn btn-primary mx-5 my-5">Import Astronomers</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>