<nav class="navbar navbar-expand-md navbar-dark fixed-top rounded">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <th:block th:if="${@loggedUser.id == 0}">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </th:block>
            <th:block th:if="${@loggedUser.id > 0}">
                <li class="nav-item active" >
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ships/add">Add Ship</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </th:block>
        </ul>
        <img width="50px" src="/images/ufo.png" alt="Ufo image">
    </div>
</nav>