
footer {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 102);
  height: 40px;
  width: 100%;
  position: sticky;
  bottom: 0px;
}

footer p {
  padding-top: 10px;
}

p {
  margin-bottom: 20px;
  padding-left: 20px;

}

header {
  border-bottom: 2px solid grey;
  width: 100%;
  padding: 20px;

}

h2 {
  padding: 20px;

}

main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  background-color: rgb(238, 238, 238);
  height: 100vh;

}