a {
  color: rgb(0, 153, 0);
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
justify-content: center;
margin-left: 30px;
}


body {
  width: 70vw;
  font-family: Georgia, serif;
  font-size: 1em;
  background-color: rgb(238, 238, 238);
  margin-left: 20px;

}



main {
 display: flex;
}


a {
  text-decoration: none;
  font-size: 0.8em;
}

li {
  list-style: none;
}

img {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25);
  padding: 10px;
  border: 2px solid black;
}

blockquote {
  width: 500px;
  padding-left: 20px;
  font-family: Georgia, serif;
  border-left: 2px solid lightgray;
  float: right;
  margin-left: 20px;

}

.autor {
  text-align: right;
  font-size: 0.8em;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: Georgia, serif;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 20px;
}
.nav{
  border-bottom: 2px solid grey;
  width: 100%;
}

h3 {
  padding-bottom: 10px;
}

section p {
  padding-bottom: 20px;
}

.img_first {
  float: right;
  margin-left: 20px;
}

.img_second {
  float: left;
  margin-right: 20px;

}

aside {
 
 margin-left: 40px;
}