
.badge {
  display: block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  margin-bottom: 1em;
  border-radius: 4px 0 0 4px;
}

.name {
  align-self: center;
}
