<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container justify-content-center mt-3">
        <div class="jumbotron jumbotron-background d-flex justify-content-center">
            <div class="container">
                <div class="col-md-12 d-flex justify-content-center">
                    <h1 class="myBackgroundColor">Import JSON</h1>
                </div>
                 <hr class="hr-background my-hr"/>
                <div th:if="${areImported[0] == false && areImported[1] == false}" class="col-md-12 d-flex justify-content-center">
                    <h4 class="myBackgroundColor">Click the buttons below to import JSON.</h4>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <th:block th:if="${areImported[0] == false}">
                        <a class="btn btn-success mx-5 my-5"th:href="@{/import/countries}">Import Countries</a>
                    </th:block>
                    <th:block th:if="${areImported[1] == false}">
                        <a class="btn btn-success mx-5 my-5"th:href="@{/import/cities}">Import Cities</a>
                    </th:block>
                    <th:block th:if="${areImported[0] == true && areImported[1] == true} ">
                        <p class="myBackgroundColor">All JSON files are imported.</p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>